<template>
    <textarea :id="editorId" class="form-control" :name="name" :data-name="name"></textarea>
</template>

<script>
import tinymce from 'tinymce';


export default {
    name: 'tinymce-html-editor',
    props: {
        name: {
            type: String,
            default: null,
            description: "Selectbox attribute name"
        },
        value: {
            type: String,
            default: ''
        },
    },
    data () {
        return {
            editorId: null,
            editorValue: this.value,
            content: null,
            lastHtmlValue: '',
            
        }
    },
    methods: {
        initialize (tinymce) {
            tinymce.init({
                selector: `#x${this.editorId}`,
                setup: function (editor) {
                    editor.on('init', function (e) {
                        /*let editorRef = this.$refs.editor;
                        let node = editorRef.children[0];
                        let html = node.innerHTML;
                        if (html === '<p><br></p>') {
                            html = '';
                        } else {
                            html = html.replace(new RegExp('<p><br></p>', 'g'), '<p>&nbsp;</p>');
                        }

                        this.content = html;*/
                        editor.setContent(this.content);
                        //this.$emit('input', this.content);
                    });
                }
            })
        },

        randomString() {
            let text = "";
            let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";

            for (let i = 0; i < 5; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }

            return text;
        },

    },
    async mounted () {
        //console.log('tinymce editor');
        this.content = this.editorValue;
        //console.log('tinymce editor :',this.editorValue);

        this.editorId = this.randomString();

        this.$nextTick(() => {
            //console.log('mounted');
            this.initialize(tinymce);
        });
    }
}
</script>